@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'RobotoLight';
	src: url('../font/Nunito-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Clemente';
	src: url('../font/ClementePDae-Light.ttf') format('truetype');
}

body {
	margin-bottom: 10px;
	background: url('../media/image/whiteTexture.jpeg') no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

h5 {
	font-size: 15px !important;
}

.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.social {
	-webkit-transform: scale(0.8);
	/* Browser Variations: */
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	color: #444444;
}

/*
    Multicoloured Hover Variations
*/
#social-fb:hover {
	color: #3B5998;
}

#social-lnkdn:hover {
	color: #0077B7;
}

#social-insta:hover {
	color: #D22E8D;
}

#social-git:hover {
	color: #000;
}

.leftAlign {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

.divPad {
	padding: 20px 10px 0px 10px !important;
}

.headerDiv {
	border-top: 5px solid #444444;
}

.headerDiv2{
	border: none !important;
}

.quoteDiv {
	text-align: center;
	color: #444444 !important;
	font-family: 'Clemente' !important;
}

.name {
	font-weight: bold;
	font-family: 'RobotoLight' !important;
	margin: 4px 0px 2px 0px;
}

.designation {
	font-family: 'RobotoLight' !important;
	margin: 2px 0px 2px 0px;
}

.headerDiv {
	padding: 10px 10px 10px 10px;
	text-align: center;
	color: #444444 !important;
	font-family: 'RobotoLight' !important;
	font-weight: normal;
}

.contentDiv {
	padding: 10px 20px 10px 20px;
	text-align: center;
	color: #444444 !important;
	font-family: 'RobotoLight' !important;
	font-weight: normal;
	border-top: 5px solid #444444;
	background-color: rgba(246, 246, 246, 0.4);
}

.contentTitle {
	font-weight: bold;
	color: #44444;
	text-transform: uppercase;
}

.item {
	text-align: left !important;
}

.title {
	font-weight: bold;
}

.leftPad {
	padding-left: 23px;
}

.rightPad {
	padding-right: 10px;
}

.checkMarks {
	font-size: 15px;
	color: #444444;
	margin-top: 10px !important;
	font-weight: normal !important;
}

.lg-pad {
	padding: 0px 120px 0px 120px;
}

hr {
	border-top: 1px solid #444444 !important;
}

@media ( max-width : 990px) {
	.text-xs-center {
		text-align: center !important;
	}
	.imageCenter {
		display: block;
		margin-right: auto;
		margin-left: auto
	}
	.lg-pad {
		padding: 0px !important;
	}
}